<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes App - Add Note</title>
</head>

<body>
    <h1>Add a new note!</h1>
    <form th:action="@{/add}" th:object="${note}"  method="post">
        <label>Note: </label>
        <input th:type="text" th:field="*{content}">
        <button th:type="submit">Add</button>
    </form>
</body>
</html>